$desktop-width-14: 1366px;
@mixin desktop-14 {
  @media (max-width: #{$desktop-width-14 - 1px} ) {
    @content;
  }
}
.title {
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 2rem;
  font-weight: 700;
}
.content {
  display: flex;
  flex-wrap: wrap;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));

  grid-gap: 20px;
  @include desktop-14() {
    grid-template-columns: repeat(6, 1fr);
  }
}
.list-recently {
  position: relative;
  display: flex;
  text-align: center;
  width: 100%;
  max-width: 100%;
  cursor: pointer;
}
.img-hover {
  &:hover .action {
    display: flex;
  }
  &:hover .avatar {
    transform: scale(1.1) translateZ(0);
  }
}
.size-image {
  width: 150px;
  overflow: hidden;
  border-radius: 4px;
}
.action {
  display: none;
  align-items: center;
  position: absolute;
  top: 40%;
  left: 50%;
  right: auto;
  bottom: auto;
  transform: translateX(-50%) translateY(-50%);
}
.show-action {
  display: flex;
  align-items: center;
  position: absolute;
  top: 40%;
  left: 50%;
  right: auto;
  bottom: auto;
  transform: translateX(-50%) translateY(-50%);
}
.title {
  margin-bottom: 20px;
}
.avatar {
  display: block;
  padding-top: 100%;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top center;
  border-radius: 4px;
  transition-duration: 0.7s;
  transition-timing-function: ease;
  transition-delay: 0s;
  transition-property: transform;
}
.btn-play {
  width: 42px !important;
  height: 42px !important;
  border-radius: 50%;
  font-size: 2.8rem !important;
  color: var(--white);
  border: 1px solid var(--white);
}
.icon-play {
  margin: 0 auto;
}
.btn-icon {
  width: 26px;
  height: 26px;
  margin: 0 12px;
  font-size: 2rem;
  color: var(--white);
  background-color: transparent;
  border-radius: 50%;
  cursor: pointer;
}
.description {
  font-size: 1.4rem;
  font-weight: 500;
  margin: 0 auto;
  max-width: 120px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
