.wrapper {
  // display: flex;
  // justify-content: center;
  // align-items: center;
}
.mh-chart {
  box-sizing: border-box;
  display: block;
  height: 300px;
  width: 1178px;
}
.mh-chart-hour {
  height: 300px;
}
.mh-chart-zing {
  height: 300px;
  width: 1178px;
}
