.avt-user {
  margin-left: 14px;
  cursor: pointer;
  border-radius: 50%;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border: 0.5px solid var(--text-color);
}
.avt-user-profile {
  cursor: pointer;
  border-radius: 50%;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.primary {
  width: 260px;
  height: 40px;
  font-size: 1.6rem;
  font-weight: 500;
  border-radius: 12px;
  color: var(--white);
  background-color: var(--text-color);
}
.secondary {
  width: 150px;
  height: 30px;
  font-size: 1.6rem;
  font-weight: 500;
  border-radius: 12px;
  color: var(--white);
  background-color: #c3d4c2;
}
.btn-login {
  width: 260px;
  height: 40px;
  font-size: 1.6rem;
  font-weight: 500;
  border-radius: 12px;
  color: var(--white);
  background-color: var(--text-color);
}
.btn-login-s {
  max-width: 200px;
  height: 40px;
  font-size: 1.6rem;
  font-weight: 500;
  border-radius: 12px;
  color: var(--white);
  background-color: var(--text-color);
}
.profile {
  display: flex;
  align-items: center;
  margin: 10px;
}
.info-user {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: 12px;
}
.user-name {
  font-size: 1.6rem;
  font-weight: 700;
  text-align: left;
}
.user-email {
  font-size: 1.4rem;
  color: #818080;
}
