$desktop-width-14: 1366px;
@mixin desktop-14 {
  @media (max-width: #{$desktop-width-14 + 1px} ) {
    @content;
  }
}
.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 6px 8px;
  border-radius: 4px;
  width: 376px;
  margin-bottom: 4px;
  border: 1px solid var(--text-color);
  @include desktop-14() {
    width: 318px;
  }
}
.wrapper.zingChart {
  width: fit-content !important;
  background-color: var(--text-color);
  position: relative;
}
.wrapper.weekly {
  @include desktop-14() {
    width: 249px !important;
  }
  width: 300px !important;
}
.wrapper.trending {
  width: 100%;
  padding: 0 8px !important;
  margin-bottom: 6px;
}
.wrapper:hover {
  background-color: hsla(0, 11%, 61%, 0.102);
  cursor: pointer;
}

.wrapper:hover .name-song {
  max-width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.wrapper.weekly:hover .name-singer {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 100px;
}
// .wrapper.trending:hover .name-song {
//   overflow: hidden;
//   text-overflow: ellipsis;
//   white-space: nowrap;
//   width: 200px;
// }
.wrapper.trending:hover .media-duration {
  display: none;
}
.wrapper:hover .btn-icon-play {
  display: flex;
}
.wrapper:hover .media-right {
  display: flex;
}

.wrapper.trending:hover .media-right {
  display: flex;
}
.wrapper.control:hover .media-right {
  display: flex;
}
.wrapper.control {
  width: fit-content;
  border: none;
}

.wrapper.control:hover {
  background-color: transparent;
}
.wrapper.control:hover .icon-pause {
  display: none;
}
// Media Left
.media-left {
  display: flex;
  align-items: center;
}
.media-left .name-song,
.name-singer {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 200px;
  @include desktop-14() {
    max-width: 140px;
  }
}
.media-left.weekly {
  width: 80% !important;
}

.media-left.trending {
  width: 50%;
}
.media-left.trending .name-song {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 200px;
}
.media-left.weekly .name-song {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 100px;
  @include desktop-14() {
    max-width: 50px;
  }
}
.media-left.control {
  width: fit-content !important;
}
.box-media {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  width: 60px;
  position: relative;
}
.media-info {
  margin-left: 8px;
  position: relative;
}

.image-song {
  display: block;
  border-radius: 6px;
  margin: 0 auto;
}
.btn-icon-play {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 20px;
  height: 20px;
  display: none;
  justify-content: center;
  align-items: center;
}
.btn-icon-play.icon-play {
  display: block;
}
.icon-pause {
  font-size: 2rem;
  color: var(--white);
}
.space {
  visibility: hidden;
  opacity: 0;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none;
}
.btn-icon-play.control {
  display: none;
}
.premium {
  display: flex;
  align-items: center;
}
.name-song:hover {
  color: var(--text-color);
  cursor: pointer;
}
.name-song {
  font-size: 1.4rem;
  font-weight: 700;
}

.premium-name {
  display: block;
  background-color: var(--text-color);
  width: fit-content;
  padding: 1px 8px;
  font-size: 1rem;
  font-weight: 700;
  color: var(--white);
  border-radius: 4px;
  margin-left: 4px;
}
.name-singer {
  display: block;
  font-size: 1.2rem;
  opacity: 0.6;
  width: 200px; /* Limit width to 70% on hover */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.name-singer.hide {
  width: 100px; /* Limit width to 70% on hover */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.name-singer:hover {
  color: var(--text-color);
  opacity: 0.6;
  cursor: pointer;
}
.media-middle {
  text-align: left;
  flex-basis: auto;
  flex-grow: 1;
  flex-shrink: 1;
  text-align: left;
  align-self: center;
  width: 0;
}
.title-album {
  font-size: 1.2rem;
  font-weight: 400;
}
.media-duration {
  display: flex;
  flex-basis: auto;
  flex-grow: 0;
  flex-shrink: 0;
}
.media-right {
  display: none;
  align-items: center;
  cursor: pointer;
}
.media-right.weekly {
  width: 20%;
  margin-right: 10px;
}
.media-right.control {
  cursor: pointer;
  display: flex;
}
.level-item {
  width: 12px;
  height: 12px;
  padding: 12px;
  cursor: pointer;
  outline: none;
}
.level-item:hover {
  border-radius: 50%;
  color: var(--text-color);
  background-color: var(--secondary);
  cursor: pointer;
}
