@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --secondary: #c3d4c2;
  --bg-homepage: #efe9d9;
  --bg-side-bar: #e5ddc7;
  --bg-control-music: #d5b87c;
  --text-color: #a5826f;
  --white: #fff;
  --black: #000;
  --width-full: 100%;
  --back-ground-color-button: hsla(0, 11%, 61%, 0.102);
}
html {
  font-size: 62.5%;
  --scroll-thumb-bg: hsla(0, 0%, 100%, 0.3);
  overflow: overlay;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
body {
  font-size: 1.4rem;
  font-family: Inter, sans-serif;
}
.test {
  font-size: 1.6rem;
}
html ::-webkit-scrollbar {
  width: 6px;
}
html ::-webkit-scrollbar {
  height: 10px; /* Chiều cao */
}
html ::-webkit-scrollbar-thumb {
  border-radius: 4px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}
html ::-webkit-scrollbar-track {
  -webkit-box-shadow: inset #fff;
  border-radius: 4px;
}
@font-face {
  font-family: Inter;
  src: url(../assets/font/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa2pL7SUc.woff2);
}
/* // Title Text box color */
.title-text-box-color {
  text-align: left;
  background: radial-gradient(
      50% 124.93% at 95.86% -10%,
      #3efad9 0,
      hsla(0, 0%, 100%, 0) 100%
    ),
    linear-gradient(91.56deg, #ff9357 1.54%, #9100ff 98.71%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
}
.title-btn-icon-play {
  background-color: var(--white);
  width: 36px;
  height: 36px;
  border-radius: 50px;
  text-align: center;
  line-height: 38px;
  margin-left: 12px;
}
.title-btn-icon-play-s {
  background-color: var(--white);
  width: 26px;
  height: 26px;
  border-radius: 50px;
  text-align: center;
  line-height: 28px;
  margin-left: 12px;
}
