$mobile-width: 480px;
@mixin mobile {
  @media (max-width: #{$mobile-width - 1px}) {
    @content;
  }
}
.layout {
  display: flex;
  flex-direction: column;
}
.side-bar {
  width: 240px;
  overflow: hidden;
  margin-top: 76px;
  @include mobile() {
    width: 0;
  }
}
.content {
  display: flex;
}
.homepage {
  flex-grow: 1;
  margin-top: 76px;
  overflow: hidden;
  width: calc(100% - 240px);
  padding: 0 60px;
  background-color: var(--bg-homepage);
  padding-bottom: 100px;
  @include mobile() {
    width: 100%;
  }
}
