.layout {
  display: flex;
  flex-direction: column;
}
.side-bar {
  width: 240px;
  overflow: hidden;
  margin-top: 76px;
}
.content {
  display: flex;
}
.homepage {
  flex-grow: 1;
  margin-top: 76px;
  overflow: hidden;
  width: calc(100% - 240px);
  padding: 0 60px;
  background-color: var(--bg-homepage);
  padding-bottom: 100px;
}
