.layout {
  display: flex;
  flex-direction: column;
}
.content {
  display: flex;
  margin-top: 76px;
  padding: 0 60px;
  padding-bottom: 100px;
  background-color: var(--bg-homepage);
}
.homepage {
  margin-left: 240px;
  width: calc(100% - 240px);
}
