.btn-add-playlist {
  font-size: 1.8rem;
  font-weight: 700;
  color: var(--text-color);
  border: 1px solid var(--text-color);
  border-radius: 12px;
  padding: 4px 12px;
  margin-left: 12px;
  margin-bottom: 4px;
}
