.wrapper {
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.header {
  display: flex;
  align-items: center;
}
.container {
  margin-top: 20px;
}
.btn-add-playlist {
  font-size: 1.8rem;
  font-weight: 700;
  color: var(--text-color);
  border: 1px solid var(--text-color);
  border-radius: 12px;
  padding: 4px 12px;
  margin-left: 12px;
  margin-bottom: 4px;
}
//
.playlist-wrapper {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--bg-side-bar);
  height: 54px;
  border-top: 1.5px solid #c3d4c2;
  border-bottom: 1px solid #c3d4c2;
  cursor: pointer;
}
.box-icon {
  text-align: center;
  width: 30px;
  height: 30px;
  line-height: 30px;
  border-radius: 8px;
  background-color: var(--text-color);
  margin-right: 4px;
}
.icon-add {
  width: 30px;
  height: 30px;
  color: var(--white);
}
.title-playlist {
  font-size: 1.8rem;
  font-weight: 600;
  color: var(--text-color);
}
