.wrapper {
  display: flex;
}
.title {
  margin-top: 10px;
  margin-bottom: 20px;
}
.title-icon {
  margin-top: 16px;
  font-size: 1.6rem;
}
.btn-play {
  color: var(--text-color);
  margin-left: 3px;
}
.title-text-box-color {
  text-align: left;
  background: radial-gradient(
      50% 124.93% at 95.86% -10%,
      #3efad9 0,
      hsla(0, 0%, 100%, 0) 100%
    ),
    linear-gradient(91.56deg, #ff9357 1.54%, #9100ff 98.71%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
}
.title-btn-icon-play {
  background-color: var(--white);
  width: 36px;
  height: 36px;
  border-radius: 50px;
  text-align: center;
  line-height: 38px;
  margin-left: 12px;
}
