.wrapper {
  z-index: 99;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 76px;
  margin-left: 240px;
  background-color: var(--bg-homepage);
  padding: 16px 60px;
}
.title-result {
  font-size: 1.6rem;
  font-weight: 700;
  margin-bottom: 6px;
}
.navbar-left {
  display: flex;
  align-items: center;
}
.icon-arrow {
  font-size: 2rem;
  margin-right: 24px;
  color: var(--text-color);
}
.icon-arrow + .icon-arrow {
  opacity: 0.6;
}
.box-search {
}
.search {
  display: flex;
  align-items: center;
  background-color: var(--white);
  border-radius: 20px;
  width: 400px;
}
.icon-search {
  width: 16px;
  height: 16px;
  padding: 8px 12px;
  color: var(--text-color);
}
.search-input {
  padding: 12px 12px 12px 0;
  margin-left: 4px;
  margin-right: 4px;
  width: 100%;
  border: none;
  outline: none;
  border-radius: 20px;
  font-size: 1.4rem;
  font-weight: 500;
  caret-color: var(--text-color);
}
.result-search {
  margin-top: 6px;
  width: 400px;
  background-color: var(--white);
  border-radius: 8px;
  padding: 8px;
  max-height: calc(100vh - 140px);
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
  scrollbar-width: none;
}
.item-song {
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.css-wudn58 {
  border: 1px solid;
  padding: 8px 0;
  background-color: #fff;
}
.search-input::-webkit-search-cancel-button {
  background-color: red !important; /* Thay đổi màu thành màu đỏ */
}
.icon-list {
  display: flex;
  align-items: center;
}
.icon-item {
  display: block;
  background-color: #d5b87c;
  border-radius: 50%;
  color: var(--white);
  cursor: pointer;
  font-size: 2rem;
  height: 38px;
  line-height: 3.8rem;
  margin-left: 14px;
  opacity: 0.9;
  text-align: center;
  padding: 10px;
  width: 20px;
  height: 20px;
  outline: none;
}

.box-search {
  z-index: 99;
}
.top-suggest {
  display: flex;
  align-items: center;
  border: 1px solid var(--text-color);
  padding: 4px 8px;
  cursor: pointer;
  border-radius: 8px;
  margin-bottom: 4px;
  &:hover {
    background-color: hsla(0, 11%, 61%, 0.102);
  }
}
.img-suggest {
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}
.info-top-suggest {
  display: flex;
  flex-direction: column;
  margin-left: 8px;
}
.suggest-title {
  font-size: 1.4rem;
  font-weight: 700;
}
